.main_container {
  display: flex;
}

.menu {
  height: 100vh;
  width: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background: black;
  box-sizing: border-box;
  border-right: 4px solid #7affe1;
}

.menu_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 5px;
}

.list {
  width: 90vw;
  min-height: 100vh;
  overflow: scroll;
  box-sizing: border-box;
  background: black;
  padding: 40px 20px 20px 100px;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.space {
  width: 10vw;
}
